# Various things controlling readline
# See bash(1)
# Since Jun 20 2012
#
set completion-ignore-case on
set mark-directories on
set mark-symlinked-directories on

# https://youtrack.jetbrains.com/issue/IDEA-165184#focus=streamItem-27-1955537-0-0
"ƒ": forward-word
"∫": backward-word
"≥": yank-last-arg
